@media only screen and (max-width: 1024px){
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
}

@media only screen and (min-width: 681px) and (max-width: 768px){
}

@media only screen and (max-width: 680px){
h1 { font-size: 25px;line-height: 35px;}h2 { font-size: 19px;line-height: 25px;}h3 { font-size: 17px;line-height: 26px;}}